/* Name: Michael Emborsky */
body{
    width: 100%;
    margin: 0 auto;
}
header {
    left: 0;
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: aquamarine;
    z-index: 4;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: .8%;
}