/* Name: Michael Emborsky */

/* Custom Color Gradients */
html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    width: 100%;
    margin: 0 auto;
}
header {
    left: 0;
    width: 0;
    height: 100vh;
    position: fixed;
    background: rgb(62,66,138);
    background: radial-gradient(circle, rgba(62,66,138,1) 0%, rgba(55,184,190,1) 49%, rgba(54,144,183,1) 57%, rgba(53,109,178,1) 69%, rgba(53,115,179,1) 74%, rgba(52,73,172,1) 100%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
}
header nav ul li, header nav ul li a {
    padding-top: 4em;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

header nav ul li a.current {
    opacity: .7;
    color: lightgreen;
}
#chevron {
    left: 0;
    position: fixed;
    top: 25%;
    z-index: 1;
    transition: width 1s ease-in-out;
}
.main-triangle {
    z-index: 1;
}
.pointer {
    z-index: 2;
    background-color: black;
}





section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(195,34,179);
    background: linear-gradient(0deg, rgba(195,34,179,1) 0%, rgba(253,187,45,1) 100%); 
    width: 100%;
    margin: 0 auto;
}

.home-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    justify-content: center;
    background-color: var(--headerGradient);
    left: 0;
}
.home-header h1, .home-header h3 {
    margin: 0;
    padding-top: 0.5%;
    padding-left: 25%;
}
.home-header h1 {
    font-size: 200%;
}

#coding {
    position: absolute;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(2, 49.5%);
    grid-template-rows: repeat(2, 47%);
    gap: 0.5em;
    top: 24%;
    bottom: 10%;
    right: 5%;
    left: 5%;
}

.coding-project {
    position: relative;
    background-color: midnightblue;
    width: 95%;
    height: 95%;
    text-align: center;
    top: 0.75em;
    margin: auto auto;
}
.coding-project h1, .coding-project a, .coding-project p {
    color: white;
}
.coding-project h1 {
    margin-bottom: 0;
    font-size: 200%;
}
.coding-project a {
    float: left;
    width: 35%;
    margin: auto auto;
    padding-left: 2em;
    padding-top: 8%;
}
.coding-project p {
    width: 50%;
    float: right;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 125%;
}
.coding-header {
    position: absolute;
    top: 15%;
    left: 10%;
}
.preview {
    position: relative;
}

.coding-header-link {
    position: absolute;
    top: 16%;
    right: 5%;
}
#gallery-nav {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    background-color: blanchedalmond;
}
#gallery-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#gallery-nav ul li {
    padding-left: 5%;
}
.row {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 5%;
    left: 0;
    background-color: black;
    opacity: .8;
}
.album-art-grid {
    display: none;
}
.column {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column img {
    opacity: 0.5;
    cursor: pointer;
    max-height: 7em;
}
.column img:hover {
    opacity: 1;
}
/* The expanding image container (positioning is needed to position the close button and the text) */
.current-art-display {
    display: none;
    width: 100%;
    height: 100%;
    margin: auto auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.current-art-display img {
    max-width: 90%;
    max-height: 65%;
    padding-top: 0.5em;
    padding-top: 4%;
}
  
  /* Expanding image text */
#imgtext {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 16%;
    right: 1em;
    top: 3em;
}
.aboutme {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(45,226,253);
    background: linear-gradient(0deg, rgba(45,226,253,1) 0%, rgba(35,34,195,1) 100%);
    border-radius: 0 0 300% 300%;
}

.aboutme p {
    color: wheat;
    font-size: 150%;
}
.aboutme a {
    color: black
}
.form-link {
    display: flex;
    width: 5%;
    height: 5%;
    justify-content: center;
    align-items: center;
}
.form-link div {
    width: 100%;
    height: 100%;
    background-color: bisque;
    opacity: .7;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form-link div p {
    text-decoration: none;
    color: black;
}

form {
    background-color: gainsboro;
    width: 40%;
    margin: 0 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#message {
    width: 80%;
}
form input, form label {
    padding: 1%;
}
.inquiries {
    display: block;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1%;
}

footer {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    bottom: 1%;
    padding-left: 40%;


}

@media screen and (max-width: 900px) {
    .coding-project h1 {
        font-size: 100%;
    }
    .coding-project p {
        font-size: 75%;
    }
    .coding-header {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .coding-project h1 {
        display: none;
    }
    .coding-project p {
        font-size: 75%;
        width: 80%;
    }
}

