/* Name: Michael Emborsky */

/* Custom Color Gradients */
html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
header {
    left: 0;
    width: 0;
    height: 100vh;
    position: fixed;
    background-color: #428ced;
    z-index: 4;
    margin: 0;
    padding: 0;
}
#main_nav {
    position: relative;
    width: 100%;
    height: 100%;
}
#main_nav ul {
    height: 100%;
    justify-content: center;
    padding-left: 0;
}
header nav ul a {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: aquamarine;
    font-size: 1.2em;
    margin: 5% 0% 5% 0%;
    border-radius: 100% 50% 100% 50%;
}

header nav ul a.current {
    color: coral;
}

#chevron {
    left: 0;
    position: fixed;
    top: 15%;
    z-index: 1;
    transition: out 1s ease-in-out;
}
.main-triangle {
    z-index: 1;
}
.pointer {
    z-index: 2;
    background-color: black;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spin-animation {
    animation: spin 0.8s linear forwards; /* Adjust the duration and timing function as needed */
}

body {
    background: linear-gradient(0deg, #BDA0BC 0%, #0A2239 55%, #FFD275 60%, #DA4167 100%);
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.background-bar {
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: #0A2239;
    top: 40%;
    z-index: -1;
}
.home-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    justify-content: center;
    background-color: var(--headerGradient);
    color: whitesmoke;
    -webkit-text-stroke: 0.025em black;
    left: 0;
    clip-path: polygon(25% 20%, 100% 20%, 100% 50%, 100% 95%, 25% 95%, 20% 50%);
    background-color: #D93F51 ;
    z-index: 1;
}
.home-header h1, .home-header h3 {
    margin: 0;
    padding-top: 0.5%;
    padding-left: 25%;
}
.home-header h1 {
    font-size: 200%;
}

.coding-title {
    position: absolute;
    left: 7%;
    width: 30%;
    background-color:#503A80;
    height: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.coding-header {
    position: relative;
    padding-top: 30%;
    color: wheat;
    margin: 0;
}
.coding-header-link {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 2%;
    font-size: 1em;
}
#coding {
    position: relative;
    background-color: #0A2239;
    display: flex;
    width: 88%;
    height: 70%;
    top: 10%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    border-radius: 200% 200% 200% 200%;
}
.coding-column {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 90%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.coding-project {
    position: relative;
    background-color: #BDA0BC;
    width: 100%;
    height: 48%;
    text-align: center;
    color: #0A2239;
    border-radius: 5% 20% 5% 20%;
}
.coding-project a {
    float: left;
    max-width: 40%;
    height: 90%;
    margin: 0;
    width: 40%;
    padding-left: 2%;
    padding-top: 5%;
}
.coding-project a img {
    max-height: 80%;
    max-width: 100%;
}
.coding-project h1 {
    float: right;
    margin-bottom: 0;
    font-size: 200%;
    text-align: center;
    width: 55%;
}
.coding-project p {
    float: right;
    position: relative;
    text-align: right;
    font-size: 125%;
    margin: 0;
    width: 55%;
    height: 60%;
    padding-right: 2%;
    padding-top: 5%;
}
.preview {
    position: relative;
}
#gallery-nav {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    background-color: blanchedalmond;
    z-index: 1;
}
#gallery-nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#gallery-nav ul li {
    padding-left: 5%;
    padding-left: 0;
    margin-left: 5%;
    margin-right: 5%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 5%;
    left: 0;
    background-color: black;
    opacity: .8;
}
.album-art-grid {
    display: none;
}
.column {
    position: relative;
    display: flex;
    padding: 0% 2% 0% 2%;
    height: 100%;
}
.column img {
    opacity: 0.7;
    cursor: pointer;
    max-height: 100%;
}
.column img:hover {
    opacity: 1;
}
/* The expanding image container (positioning is needed to position the close button and the text) */
.current-art-display {
    display: none;
    width: 100%;
    height: 90%;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
}
.current-art-display img {
    max-width: 80%;
    max-height: 70%;
    position: relative;
    top: 5%;
}
  

.side-art-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 0;
    width: 10%;
    background-color: #405b80;
    height: 40%;
    z-index: 0;
    border-radius: 0 0 0 100%;
}
  /* Expanding image text */
#imgtext {
    position: relative;
    color: white;
    font-size: 24px;
    z-index: 1;
    top: 2.75em;
    margin: 0;
    right: 0.5em;
    width: 85%;
    height: 10%;
    text-align: right;
}
#imgdesc {
    position: relative;
    right: 0;
    font-size: 16px;
    text-align: right;
    padding-right: 1em;
    padding-top: 6em;
    color: white;
    width: 70%;
    height: 30%;
    z-index: 1;
    margin: 0;
    border-radius: 0 0 0 100%;
}
#downloadLink {
    z-index: 1;
    position: relative;
    right: 0.5em;
    width: 40%;
    text-align: center;
    color: white;
    padding-top: 4em;

}
.aboutme {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(45,226,253,1) 0%, rgba(35,34,195,1) 100%);
    border-radius: 0 0 150% 150%;
}

.aboutme p {
    color: wheat;
    font-size: 150%;
}
.aboutme a {
    color: black
}

.aboutme-form {
    width: 80%;
    background-color: #428ced;
    height: 30%;
    position: absolute;
    bottom: 0%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-link {
    display: flex;
    width: 5%;
    height: 5%;
    justify-content: center;
    align-items: center;
}
.form-link div {
    width: 100%;
    height: 100%;
    background-color: bisque;
    opacity: .7;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form-link div p {
    text-decoration: none;
    color: black;
}

form {
    background-color: gainsboro;
    width: 40%;
    margin: 0 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#message {
    width: 80%;
}
form input, form label {
    padding: 1%;
}
.inquiries {
    display: block;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1%;
}

footer {
    position: absolute;
    display: flex;
    width: 100%;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: white;
    height: 4%;
}

.print-button {
    font-size: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: white;
}

.print-button::after  {
  content: "";
  background-color: rgba(253,187,45,1);
  width: 100%;
  z-index: 0;
  position: absolute;
  height: 100%;
  bottom: 0.4rem;
  left: 0.5rem;
  transition: 0.2s;
  opacity: 0.3;
}

.print-button:hover:after {
  top: 0px;
  left: 0px;
}

@media screen and (max-height < 1000px) {
    .print-button {
        padding: 0;
    }
}


@media screen and (max-width: 900px) {
    .coding-project h1 {
        font-size: 100%;
    }
    .coding-project p {
        font-size: 75%;
    }
}


@media screen and (max-width: 430px) {
    .row {
        position: relative;
    }
    .column img {
        max-height: 4rem;
    }
    #coding {
        flex-direction: column;
        top: 9%
    }
    .coding-column {
        width: 90%;
    }
    .coding-project {
        margin-top: 2%;
    }
    .coding-title {
        width: 80%;
        height: 70%;
        left: 0;
    }
    .coding-header {
        font-size: 1em;
        padding-top: 50%;
        padding-left: 0;
        width: auto;
    }
    .coding-title a {
        font-size: 0.75em;
    }
    .current-art-display img {
        max-width: 90%;
        max-height: 40%;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .side-art-desc {
        position: relative;
        width: 100%;
        border-radius: 0;
        align-items: center;
        height: 30%;
    }
    #imgtext {
        top: 1em;
        width: auto;
        right: auto;
    }
    #imgdesc {
        padding-top: 4em;
        width: 90%;
        text-align: center;
    }
    #downloadLink {
        padding-top: 2em;
    }
    .row {
        height: 100%;
        bottom: 10%;
    }
    .art-projects-grid, .album-art-grid {
        flex-wrap: wrap;
        height: 20%;
    }
}

